[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
black = "*"
mypy = "*"
pylint = "*"
isort = "*"

pytest = "*"
pytest-bdd = "*"
locust = "*"

[requires]
python_version = "3.11"
